{{ $skills := .Site.Data.skills }}

<section id="skills" class="aqua text-light">
  <h2 class="heading">{{ $skills.title }}</h2>

  <h4 style="margin-left: 30px;">Programming</h4>
  {{ range $key, $value := $skills.skills.programming }}
  <div class="skill" style="margin-left: 30px;">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}

  <h4 style="margin-left: 30px; margin-top: 50px;">Framework and Query Language</h4>
  {{ range $key, $value := $skills.skills.frameworkQueryLanguage }}
  <div class="skill" style="margin-left: 30px;">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}

  <h4 style="margin-left: 30px; margin-top: 50px;">Version Control and Operating Systems</h4>
  {{ range $key, $value := $skills.skills.versionControlOs }}
  <div class="skill" style="margin-left: 30px;">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}

  <h4 style="margin-left: 30px; margin-top: 50px;">Tools and Technologies</h4>
  {{ range $key, $value := $skills.skills.toolsTech }}
  <div class="skill" style="margin-left: 30px;">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}


  <h4 style="margin-left: 30px; margin-top: 50px;">Methodologies</h4>
  {{ range $key, $value := $skills.skills.methodologies }}
  <div class="skill" style="margin-left: 30px;">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}


</section>
